<p style="color: green"><%= notice %></p>

<h1>User books</h1>

<div id="user_books">
  <% @user_books.each do |user_book| %>
    <%= render user_book %>
    <p>
      <%= link_to "Show this user book", user_book %>
    </p>
  <% end %>
</div>

<%= link_to "New user book", new_user_book_path %>
